
@{
    ViewBag.Title = "CRUD";
    Layout = "~/Views/Shared/_LayoutGenericCrud.cshtml";
}
@section PageHeader{
    
    <h2>@ViewBag.Title</h2>   
    
    <h3>Olá section header</h3>  
}

<div>Body Page</div>

@section PageFooter{

    <h4>Footer page</h4>

}